@{
    ViewData["Title"] = "Principal";
}

@*cabecalho*@
<div style="display:flex">
    <h3>@ViewBag.NomeProfessor</h3>
    <form asp-controller="Login" asp-action="Logout">
        <button type="submit">Sair</button>
    </form>
</div>

@*cadastrar turma*@
<form asp-controller="Professor" asp-action="CadastrarAtividade">
    <input type="text" required name="descricaoAtividade" placeholder="Descricao da Atividade" />
    <button type="submit">Cadastrar atividade</button>
</form>


@*tabela*@
<table>
    <thead>
        <tr>
            <th>Número</th>
            <th>Nome da Atividade</th>
           
        </tr>
    </thead>

    <tbody>
        @foreach (var atividade in Model)
        {
            <tr>
                <td>@atividade.AtividadeId</td>
                <td>@atividade.Descricao</td>
               
            </tr>
        }

    </tbody>
</table>